---
---

$primaire: #F6882F;
$fond: #f5f5F5;

@font-face {
	font-family: "favorit";
	src: url("fonts/Favorit_Regular.otf");
}

@font-face {
	font-family: "favoritlining";
 	src: url("fonts/Favorit-Regular_Lining.otf");
}

body{
	font-size: 1.2vw;
	font-family: 'favorit';
	margin:0px;
	line-height: 1.1;
	background-color: $fond;

}

.grille{
	padding-top: 4.5vw;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;

	justify-content: flex-start;
	align-items: stretch;	
}

.row{
	padding: 5px;
	flex: 1 0 40%;
}

header {
	text-align:center;
	font-size: 2vw;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
	grid-auto-rows: minmax(2.5vw);
	background-color: $fond;
  	position:fixed;
  	width: 100%;
  	z-index: 99;
}

.ip a{
	color: white;
	text-decoration: none;
}

a:hover{
	color: black;
	text-decoration: none;
}

a{
	color: $primaire;
	text-decoration: none;
}

nav{
	margin-top: 2.5vw;
	text-align:center;
	font-size: 2vw;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 10px;
	grid-auto-rows: minmax(auto);
  	position:fixed;
  	width: 100%;
}

.ip{
	background-color: $primaire;
	color: white;
	border-radius: 10rem;
}

.logo{
	height: auto;
	width: 100%;
	margin:auto;
	text-align: center;
	padding-top: 15vw;
	margin-bottom: 1vw;
}

.logo img{
	width: 5%;
	position: center;
}

.accueil{
	font-size: 2vw;
	width: 100%;
	height: 100vh;
	color: white;
	margin:0 auto;
	text-shadow: #000 0px 0 50px;
	text-align: center;
	background-image:url("/img/bg2.png");
	height: 100vh;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 0 50px;
}

.presentation{
	background-image:url("/img/bgcs.png");
	height: 100vh;
  background-position: center;
	font-size: 2vw;
	text-align: left;
	padding-left:5%;
	padding-right:5%;
	line-height: 1.1;
  	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 50px;
	align-items: center;
   justify-items: top;

}

.presentation h1{

		text-align: left;
}

.presentation h5{

		background-color: $primaire;
}

section{
	font-size: 2vw;
	text-align: left;
	width: 50%;
	color: black;
	height: auto;
	margin-right:25%;
	margin-left:25%;
	padding-top: 3.5vw;
	line-height: 1.1;
}

p{
	margin-top: 0;
	margin-bottom:1.4vw;
	line-height: 1.1;
}

.sous-titre{
	opacity: 0.5;
	text-align:center;

}


h1{
	font-size: 2.5vw;
	margin: auto;
	text-align:center;
	font-family: "favoritlining";
	margin-bottom:1.4vw;
}

h4 {
	font-size: 2vw;
	margin: auto;
	width: 50%;
	text-align:center;
}

h5 {
	font-size: 1.2vw;
	color: black;
	background: white;
	text-align: center;
	border-radius: 10rem;
	padding: 0.3rem 1.2rem 0.3rem 1.2rem;
	width: 15vw;
	min-width: 15vw;
	margin: auto;
	box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.2);
	transition-duration: 250ms;
}

h5:hover {
	min-width: 17vw;
	box-shadow: 60px rgba(0, 0, 0, 0.2);
	transition-duration: 250ms;
}

.icon{
	width: 6%;
	vertical-align: middle;
	padding-left: 5%;
}

img{
	width: 100%; 
	background-size: cover;
}

.introduction{
	text-justify: auto;
	margin: 15px;
	columns: 4;
}

.blog_img{
	width:100%;
	height: auto;
	margin: auto;
	position: center;
}

.excerpt{
	margin: auto;
	position:center;
}

.article{
	width: 50%;
	margin: auto;
	padding-top: 2.5vw;

}

::selection{
    background-color: #222;
    color: white;
}

// -------------- MOBILE -----------------

@media only screen and (max-width: 800px) {


	body{
	font-size: 4.5vw;
	font-family: 'favorit';
	margin:0px;
	line-height: 1.1;
	background-color: $fond;

}

p{font-size: 4.5vw;}

	header {
		text-align:center;
		font-size: 4.5vw;
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 10px;
		grid-auto-rows: minmax(2.5vw);
		background-color: $fond;
		position:fixed;
		width: 100%;
		z-index: 99;
	}

h1 {
	font-family: 'favoritlining';
	font-size: 4.5vw;
	margin: auto;
	text-align:center;
}

.ip{

	background-color: $primaire;
	color: white;
	border-radius: 0rem;
}

.icon{
	display: none;
}


.presentation{

  background-position: center;
height: auto;
margin-top: 4vw;
  	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-gap: 50px;

}

.one{

grid-row: 1;

}
.two{

grid-row: 2;
}

	.logo{
	margin-bottom: 1vw;
		padding-top: 37vw;

	}

	.logo img{
		width: 10%;
		position: center;
	}

h5 {
	font-size: 3vw;
	width: 38vw;
	min-width: 38vw;
	margin: auto;
	box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.1);
	transition-duration: 250ms;
}

h5:hover {
	min-width: 45vw;
	box-shadow: 10px 10px 60px rgba(0, 0, 0, 0.2);
	transition-duration: 250ms;
}


	section{
		font-size: 4.5vw;
		text-align: left;
		width: 96%;
		color: black;
		height: auto;
		margin-right:2%;
		margin-left:2%;
		padding-top: 25vw;
		line-height: 1.1;
	}

}