<header>
  <a href="/">FOYER</a>
  <div class="ip">

    <div id="secretInfo" style="display: none;">foyer.cool</div>
    <button type="button" id="btnCopy">IP : FOYER.COOL</button>

    <script type="text/javascript">
      var $body = document.getElementsByTagName('body')[0];
      var $btnCopy = document.getElementById('btnCopy');
      var secretInfo = document.getElementById('secretInfo').innerHTML;
      var copyToClipboard = function(secretInfo) {
        var $tempInput = document.createElement('INPUT');
        $body.appendChild($tempInput);
        $tempInput.setAttribute('value', secretInfo)
        $tempInput.select();
        document.execCommand('copy');
        $body.removeChild($tempInput);
      }
      $btnCopy.addEventListener('click', function(ev) {
        copyToClipboard(secretInfo);
      });
    </script>
  	<a href="https://discord.gg/WTFsxCu"><img class="icon" src="img/discord.png"></a></div>
   <a href="/regles">REGLES</a>


</header>