<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
  {% include head.html %}

  <body>
  	  {% include header.html %}
<section> 
    <img class="blog_img" src="/{{ page.image }}">  <br>
            <h1>{{ page.title }}</h1>
    <p class="sous-titre"> posté par {{ page.auteur }} le {{ page.date | date: "%m/%d/%Y"}}</p> 
    <br>
   
    {{ content }}
    </section>

  </body>
</html>
